<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>To-Do App</title>
</head>
<body>
<div class="container">
    <h3 style= "margin-top: 100px;">To-Do App</h3><hr>
      <form action="/add" method='post'>
        
            <div class="row">
              <div class="col">
                <input type="text" class="form-control"  name= "title" placeholder="Enter To-Do"><br>
                <button class="btn btn-warning">Submit</button>
              </div>

            </div>
      </form>
     <br>
     {% if to_dos==[] %}
       <div class="alert alert-primary" role="alert">
         Please add a to-do.
       </div>
     
     {% else %}
     <table class="table">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">To-Do</th>
            <th scope="col">Complete</th>
            <th scope="col">Complete</th>
            <th scope="col">Delete</th>
            
          </tr>
        </thead>
        <tbody>
          
          {% for todo in to_dos  %}
              <tr>  
                  <th scope="row"> {{todo.id}} </th>
                  <td> {{todo.title}} </td>
                  {% if todo.complete == False %}
                  
                  <td>Not Completed</td>
                  
                  {% else %}
                  
                  <td>Completed</td>
                  {% endif %}
                  <td><a href="/complete/{{todo.id}}" class="btn btn-warning">Complete</a></td>
                  <td><a href="/delete/{{todo.id}}" class="btn btn-danger">Delete</a></td>
              </tr>
          
          {% endfor %}

        </tbody>
      </table>
     {% endif %}
      
      
    
    


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>
</body>
</html>